<footer>
		<div class="profile">
			<div class="profile-ja">
				<p>カカム マサナリ</p>
				<p>スーパーマーケットカカム店長 / アートディレクター</p>
				<p>
				1990年岐阜県生まれ。2014年武蔵野美術大学視覚伝達デザイン学科卒業。2011年より、
				食材をテーマにしたアートプロジェクト「スーパーマーケットカカム」に取り組む。 これまでに扱った食材は、
				ぷりん、食パン、バナナ、いわし、トマト、キャベツ、味噌、せんべい、冷凍食品などなど。同プロジェクトにて、
				世の中をたくさんワクワクさせるために、テーマとする食材100種類を目指してアートを制作・発表する活動を続けている。
				</p>
			</div>

			<div class="profile-en">
				<p>MASANARI KAKAMU</p>
				<p>SUPERMARKET KAKAMU Owner / Art Directer</p>
				<p>
				Born in Gifu in 1990. Graduated from the Department of Visual Communication Design, College of Art and Design, of Musashino Art University in 2014.
				He has been working on his art project, “SUPERMARKET KAKAMU”, whose theme is food since 2011.
				He has so far worked on Purin, bread, sardine, tomato, cabbage, miso, meat, rice cracker and frozen food etc.
				He continues to create and publish food arts, aiming to eventually complete 100 different food arts.
				He hopes to entertain people all over the world through this project.
			   </p>
			</div>
		</div>
		</div>
		
		<div class="follow-us">
			<p>スーパーマーケットカカム公式SNS</p>
			<a href="https://www.facebook.com/SUPERMARKETKAKAMU/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://twitter.com/superkakamu"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="https://pinterest.com/supermarketkakamu"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
			<a href="https://instagram.com/supermarketkakamu"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</div>

		<div class="share">
			<div class="fb-like" data-href="https://www.supermarketkakamu.jp/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true" style="display:inline-block; vertical-align:top"></div>
			<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=スーパーマーケットカカムは&#x3001食材をテーマにしたアートプロジェクトです&#x3002さまざまな食材アートが&#x3001あなたをお待ちしております&#x3002 pic.twitter.com/3m2LFyO93q" data-url="https://www.supermarketkakamu.jp/" data-size="large" >Tweet</a>
		</div>

		<div class="copyright">
			<p>©2017 SUPERMARKET KAKAMU</p>
		</div>

</footer>