<header>
    	<div class="logo">
			<a href="index.html"><img src="img/logo/logo.png"></a>
		</div>

		<div class="headerNavi">
			<div class="header-item">
				<a href="index.html" id="top">TOP</a>
				<a href="index.html#allFoods">FOOD</a>
				<a href="about.html">ABOUT</a>
				<a href="news.html">NEWS</a>
				<a href="media.html">MEDIA</a>
				<a href="shop.html">SHOP</a>
				<a href="contact.html">CONTACT</a>
			</div>

			<div class="sns-btn">
				{{!-- <a href="https://www.facebook.com/SUPERMARKETKAKAMU/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://twitter.com/superkakamu"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="https://pinterest.com/supermarketkakamu"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a> --}}
				<a href="https://instagram.com/supermarketkakamu"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>
		
		<div class="ham"><i class="fa fa-bars" aria-hidden="true"></i></div> 
		<div class="popUp">
			<i class="fa fa-times cross" aria-hidden="true"></i>
			<ul>
				<li><a href="index.html" id="top-sp">TOP</a></li>
				<li><a href="#allFoods">FOOD</a></li>
				<div class="food-item">
					<a href="edamame.html">枝豆</a>
					<a href="purin.html">ぷりん</a>
					<a href="bread.html">食パン</a>
					<a href="sardine.html">鮮魚</a><br>
					<a href="bananas.html">バナナ</a>
					<a href="miso.html">みそ</a>
					<a href="cabbage.html">キャベツ</a>
					<a href="tomato.html">トマト</a><br>
					<a href="frozen.html">冷凍食品</a>
					<a href="armor.html">せんべい</a>
				</div>
				<li><a href="about.html">ABOUT</a></li>
				<li><a href="news.html">NEWS</a></li>
				<li><a href="media.html">MEDIA</a></li>
				<li><a href="shop.html">SHOP</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
</header>